<div (swiperight)="swipe(-1)" (swipeleft)="swipe(1)" (swipe)="onSwipe($event)">
	<button onClick="javascript:window.scroll(0,100000)"> {{bookInfo?.title}} </button>
  <p class="title" (click)="swipe(1)">{{book?.chapterList?.chapters[current.chapterIndex]?.title}}
    <sub *ngIf="book?.chapterList?.chapters[current.chapterIndex]?.isPurchaseRequired">
      <span *ngIf="book?.chapterList?.chapters[current.chapterIndex]?.price?.silverCoin">{{book?.chapterList?.chapters[current.chapterIndex]?.price?.silverCoin}}s</span>
      <span *ngIf="book?.chapterList?.chapters[current.chapterIndex]?.price?.goldCoin">{{book?.chapterList?.chapters[current.chapterIndex]?.price?.goldCoin}}g</span>
    </sub>
  </p> 

  <p *ngFor=" let block of data?.chapter?.contentRawState?.blocks">
    {{block?.text}}
  </p>


  <button class="btn btn-primary" (click)="getChapter()">Chapter</button>
  <button class="btn btn-primary" (click)="getBook()">Book</button>
  <span *ngIf="book?.chapterList?.chapters[current.chapterIndex]?.isPurchaseRequired">
  <button class="btn btn-primary" (click)="purchaseChapter()">Purchase</button>
  </span>
  

  <input [(ngModel)]="current.chapterIndex" type="number" style="width:5em;" (change)="loadChapter()" />
  / {{book?.chapterList?.chapters.length}}
  <button class="btn btn-primary" (click)="swipe(-1)"> Back </button>
  <button class="btn btn-primary" (click)="swipe(1)"> Next </button>
  <button class="btn btn-primary" onClick="javascript:window.scroll(0,0)"> top </button>
  <a [routerLink]="['/']" class="btn btn-primary"> Home </a> 

  <p class="title" (click)="swipe(1)">{{book?.chapterList?.chapters[current.chapterIndex]?.title}}</p> 
</div>
