<div (swiperight)="swipe(-1)" (swipeleft)="swipe(1)" (swipe)="onSwipe($event)">
  
  <header>
    <a [routerLink]="['/']" class="btn btn-primary">
      &nbsp; &lt; &nbsp;
      <!-- <fa-icon [icon]="['fa', 'chevron-left']"></fa-icon>     -->
    </a>     
    <a onClick="javascript:window.scroll(0,100000)" class=""> 
      <sub>{{bookInfo?.title}}</sub>
    </a>
  </header>
	

  <p class="title" (click)="swipe(1)">{{book?.chapterList?.chapters[current.chapterIndex]?.title}}
  </p> 

  <p *ngFor="let block of data?.chapter?.contentRawState?.blocks" [ngSwitch]="block?.type">
    <span *ngSwitchCase="'unstyled'">{{block?.text}}</span>
    <figure class="ch-image" *ngSwitchCase="'atomic:image'">
      <img src="{{block.data.src}}" alt="{{block?.text}}"><figcaption class="description-image">{{block?.text}}</figcaption>
    </figure>
    <span *ngSwitchDefault>Unknow type {{block?.type}}</span>
  </p>

 
  <button class="btn btn-primary" (click)="getChapter()">Chapter</button>
  <span *ngIf="book?.chapterList?.chapters[current.chapterIndex]?.isPurchaseRequired">
  <button class="btn btn-primary" (click)="purchaseChapter()">
    <span *ngIf="book?.chapterList?.chapters[current.chapterIndex]?.price?.silverCoin">{{book?.chapterList?.chapters[current.chapterIndex]?.price?.silverCoin}}s</span>
      <span *ngIf="book?.chapterList?.chapters[current.chapterIndex]?.price?.goldCoin">{{book?.chapterList?.chapters[current.chapterIndex]?.price?.goldCoin}}g</span>
  </button>
  </span>
  
  <br/>
  <button class="btn btn-primary" (click)="swipe(-1)">&nbsp; &lt; &nbsp;</button>
  
  <div class="chapterIndex">
  <input  [(ngModel)]="current.chapterIndex" type="number"  (change)="loadChapter()" />
  + {{book?.chapterList?.chapters.length-1-current.chapterIndex}}
  </div>
  <button class="btn btn-primary" (click)="swipe(1)">&nbsp; &gt; &nbsp;</button>
   <button class="btn btn-primary" (click)="getBook()">Fetch</button>
  <!-- <button class="btn btn-primary" onClick="javascript:window.scroll(0,0)"> top </button> -->
  <!-- <a [routerLink]="['/']" class="btn btn-primary"> Home </a>  -->

  <p>{{book?.chapterList?.chapters[current.chapterIndex]?.title}}</p> 
</div>
